<app-header></app-header>
<div class="page-header header-filter back">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login ">
          <div class="form">
            <div class="card-header card-header-primary text-center ">
              <h4 class="card-title">{{ "ENTRAR.ENTRAR" | translate }}</h4>
            </div>
            <div class="card-body">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="bx bx-user bx-sm bx-tada-hover"></i>
                  </span>
                </div>
                <input [(ngModel)]="this.form.email" name="email" class="un form-control " type="text" align="center"
                  placeholder="{{ 'ENTRAR.EMAIL' | translate }}">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="bx bx-lock bx-sm bx-tada-hover"></i>
                  </span>
                </div>
                <input [(ngModel)]="this.form.password" name="password" class="un form-control " type="password"
                  align="center" placeholder="{{ 'ENTRAR.SENHA' | translate }}" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <p class="error" align="center">{{ "CADASTRO.ERRO" | translate }}</p>
                <button class="submit" align="center" (click)="loginArtPlus()">
                  {{ "ENTRAR.BOTAO" | translate }}
                </button>
                <p *ngIf="erroLogin" class="error" align="center">{{ "ENTRAR.ERRO" | translate }}</p>
                <p align="center"><a href="#" class="forgot">{{ "ENTRAR.ESQUECEU" | translate }}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
