<app-header></app-header>
<div class="page-header header-filter back">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login" data-aos="fade-up">
          <div class="form">
            <div class="card-header card-header-primary text-center ">
              <h4 class="card-title">{{ "ENTRAR.ENTRAR" | translate }}</h4>
              <div class="container">
                <div class="row text-center mt-1">
                  <div class="col-md-12">
                    <button type="button" (click)="loginWithGoogle()" class="fab fa-google icon-color"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="division">
                <div class="line l">
                </div>
                <span class="cg">Ou</span>
                <div class="line r">
                </div>
              </div>
              <form [formGroup]="formLogin">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bx bx-user bx-sm bx-tada-hover"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="this.form.email" formControlName="email" name="email" class="un form-control" type="email" align="center" placeholder="{{ 'ENTRAR.EMAIL' | translate }}">
                </div>
                <p *ngIf="formLogin.get('email')!.touched && !formLogin.get('email')!.valid" class="error" align="center">{{ "ENTRAR.INVALIDO" | translate }}</p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bx bx-lock bx-sm bx-tada-hover"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="this.form.password" formControlName="password" name="password" class="un form-control" type="password" align="center" placeholder="{{ 'ENTRAR.SENHA' | translate }}" />
                </div>    
              </form>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <button class="submit" align="center" (click)="loginArtPlus()">
                  {{ "ENTRAR.BOTAO" | translate }}
                </button>
                <p *ngIf="erroLogin" class="error" align="center">{{ "ENTRAR.ERRO" | translate }}</p>
                <p align="center"><a href="#" class="forgot">{{ "ENTRAR.ESQUECEU" | translate }}</a></p>
              </div>
            </div>
              <div class="row">
                <div class="col-md-12 fot">
                  <p class="text-fo">{{ "ENTRAR.NAO-POSSUI-CONTA" | translate }}</p>
                  <a href="\cadastro" class="text-link">{{ "ENTRAR.CADASTRAR" | translate }}</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
