<app-header></app-header>
<select-lang></select-lang>
<div class="main">
  <p class="sign" align="center">{{ "ENTRAR.ENTRAR" | translate }}</p>
  <form class="form1">
    <input
      [(ngModel)]="this.form.email"
      name="email"
      class="un"
      type="text"
      align="center"
      placeholder="{{ 'ENTRAR.EMAIL' | translate }}"
    />
    <input
      [(ngModel)]="this.form.password"
      name="password"
      class="pass"
      type="password"
      align="center"
      placeholder="{{ 'ENTRAR.SENHA' | translate }}"
    />
    <button
      type="button"
      class="submit"
      align="center"
      (click)="loginArtPlus()"
    >
      {{ "ENTRAR.BOTAO" | translate }}
    </button>
    <p *ngIf="loginReturn" class="error" align="center">
      {{ "ENTRAR.ERRO" | translate }}
    </p>
    <p class="forgot" align="center">
      <a href="#">{{ "ENTRAR.ESQUECEU" | translate }}</a>
    </p>
  </form>
</div>
<app-footer></app-footer>
