<app-header></app-header>
<section>
    <div data-aos="fade-up">  
      <h2 class="title">Olá Fulano</h2>
    
      <p class="sub">Recomendação de Perfil</p>
      <p class="text">Veja recomendações de perfis</p>
    </div>
  <div class="container" data-aos="fade-up">
    <div class="friend-list">
        <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="friend-card">
                  <img src="https://via.placeholder.com/400x100/9558d5" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGDJoPaW8QhSw/profile-displayphoto-shrink_800_800/0/1624922607334?e=1630540800&v=beta&t=ChxwKhhaxez-yUboZT3PYayRC6949bbAGPFKyNdctkM" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                    <a href="#" class="pull-right text-green">Dança</a>
                    <h5><a href="timeline.html" class="profile-link">Gloria Groove</a></h5>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6 box">
              <div class="friend-card">
                  <img src="https://via.placeholder.com/400x100/9558d5" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGDJoPaW8QhSw/profile-displayphoto-shrink_800_800/0/1624922607334?e=1630540800&v=beta&t=ChxwKhhaxez-yUboZT3PYayRC6949bbAGPFKyNdctkM" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                    <a href="#" class="pull-right text-green">Arte Cênicas</a>
                    <h5><a href="timeline.html" class="profile-link">Pablo Vittar</a></h5>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="friend-card">
                  <img src="https://via.placeholder.com/400x100/9558d5" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGDJoPaW8QhSw/profile-displayphoto-shrink_800_800/0/1624922607334?e=1630540800&v=beta&t=ChxwKhhaxez-yUboZT3PYayRC6949bbAGPFKyNdctkM" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                    <a href="#" class="pull-right text-green">Tattoo</a>
                    <h5><a href="timeline.html" class="profile-link">Rupaul</a></h5>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="friend-card">
                  <img  src="https://via.placeholder.com/400x100/9558d5" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGDJoPaW8QhSw/profile-displayphoto-shrink_800_800/0/1624922607334?e=1630540800&v=beta&t=ChxwKhhaxez-yUboZT3PYayRC6949bbAGPFKyNdctkM" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                    <a href="#" class="pull-right text-green">My Friend</a>
                    <h5><a href="timeline.html" class="profile-link">Juninho Gameplays</a></h5>
  
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="friend-card">
                  <img src="https://via.placeholder.com/400x100/9558d5" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGDJoPaW8QhSw/profile-displayphoto-shrink_800_800/0/1624922607334?e=1630540800&v=beta&t=ChxwKhhaxez-yUboZT3PYayRC6949bbAGPFKyNdctkM" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                    <a href="#" class="pull-right text-green">Músico</a>
                    <h5><a href="timeline.html" class="profile-link">Rihanna</a></h5>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="friend-card">
                  <img src="https://via.placeholder.com/400x100/9558d5" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGDJoPaW8QhSw/profile-displayphoto-shrink_800_800/0/1624922607334?e=1630540800&v=beta&t=ChxwKhhaxez-yUboZT3PYayRC6949bbAGPFKyNdctkM" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                    <a href="#" class="pull-right text-green">Artes Plásticas</a>
                    <h5><a href="timeline.html" class="profile-link">Mulher Pepita</a></h5>
  
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>