<app-headerlog></app-headerlog>
<section clas=welcome>
  <div class="section-title" data-aos="fade-up">
    <h2>Recomendação de Perfil</h2>
    <div class="texto">
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas.</p>
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="friend-list">
      <div class="row">
        <div *ngFor="let recomendacao of recommendations" class="col-md-4 col-sm-6">
          <a href="\artista">
          <div class="friend-card">
            <img
              [src]="recomendacao.backgroundPicture"
              alt="profile-cover" class="img-responsive cover">
            <div class="card-info">
              <img
                [src]="recomendacao.userPicture"
                alt="user" class="profile-photo-lg">
              <div class="friend-info">
                <a href="#" class="pull-right text-green">{{recomendacao.category}}- </a>
                <a href="#" class="pull-right text-green">{{recomendacao.subcategory}}</a>
                <h5><a href="timeline.html" class="profile-link">{{recomendacao.username}}</a></h5>
              </div>
            </div>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</section>