<app-header></app-header>
<!-- <select-lang></select-lang> -->
<!-- <div class="main">
    <h1 class="sign-title" align="center">{{'INICIO.ARTMAIS' | translate}}</h1>
    <div class="buttons" align="center"> 
        <a align="center" class="button_slide slide_left" href="\login">{{'INICIO.LOGIN' | translate}}</a>
        <a align="center" class="button_slide slide_left" href="\cadastro">{{'INICIO.CADASTRO' | translate}}</a>
    </div>
</div>
<app-footer></app-footer> -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-12">
          <img src="../assets/img/logos/log.png" alt="" class="logo">
          <h1>O melhor lugar para se conectar com a arte</h1>
          <h2>Somos uma plataforma de networking para artistas e amantes da arte</h2>
          <a href="#about" class="btn-get-started scrollto">Conhecer</a>
        </div>
      </div>
    </div>
    </section>

      <!-- ======= About Section ======= -->
      <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch">
              <div class="content">
                <h3>Plataforma ART+</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                </p>
                <a href="/cadastro" class="about-btn"><span>Cadastre-se</span> <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-image"></i>
                    <h4>Encontre artistas facilmente</h4>
                    <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Venda sua arte com facilidade</h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-like"></i>
                    <h4>Veja o artista que você admira</h4>
                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                  </div>

                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-network-chart"></i>
                    <h4>Melhore seu networking</h4>
                    <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
      <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Planos</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
    
          <div class="row">
    
            <div class="col-md-2 ">
              
    
            </div>
            <div class="col-md-4 " data-aos="zoom-im" data-aos-delay="100">
              <div class="box">
                <h3>Free</h3>
                <h4><sup>$</sup>0<span> / month</span></h4>
                <ul>
                  <li>Aida dere</li>
                  <li>Nec feugiat nisl</li>
                  <li>Nulla at volutpat dola</li>
                  <li class="na">Pharetra massa</li>
                  <li class="na">Massa ultricies mi</li>
                </ul>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy">Cadastre-se</a>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 " data-aos="zoom-in" data-aos-delay="100">
              <div class="box featured">
                <h3>Premium</h3>
                <h4><sup>R$</sup>10<span> / month</span></h4>
                <ul>
                  <li>Aida dere</li>
                  <li>Nec feugiat nisl</li>
                  <li>Nulla at volutpat dola</li>
                  <li>Pharetra massa</li>
                  <li class="na">Massa ultricies mi</li>
                </ul>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy">Comprar</a>
                </div>
              </div>
            </div>  
            <div class="col-md-2 " >  
            </div>
    
     
          </div>
        </div>
        <br>
        <br>
        <br>
      </section>

      <app-footer></app-footer>

      
