<header id="header" class="fixed-top">
    <div class="container d-flex  justify-content-between">
      <div class="container-fluid">
        <a class="navbar-brand" href="\homepage">
          <img src="../assets/img/logos/log.png" alt="" class="d-inline-block align-text-top logo"></a>
      </div>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="\homepage">Recomendações</a></li>
          <li><a class="nav-link" href="\construcao">Dashboard</a></li>
          <select-lang></select-lang>
          <li><a class="nav-link" href="\configuracao">Configurações</a></li>
          <li><a class="nav-link" href="\perfil">Perfil</a></li>
          <li><a class="nav-link sair" href="\#">Sair</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
