<div *ngIf="roleUser">
  <meta http-equiv="Refresh" content="0; url=\homepage" />
</div>
<div *ngIf="!roleUser && ifPremium">
  <app-headerlog></app-headerlog>
  <section id="pricing" class="pricing">
    <div class="section-title" data-aos="fade-up">
      <div class="container">
        <div class="row text-center">
          <h2>{{'ASSINANTES.TITULO-0' | translate}} {{assinante.name}}</h2>
          <div class="col-md-12 ">
            <p>{{'ASSINANTES.TEXTO1' | translate}}</p>
          </div>
        </div>
        <div class="row align-items-center text-center justify-content-center" data-aos="fade-up">
          <div class=" offset-lg-6 col-lg-3 col-md-6 col-sm-6 mx-lg-3" data-aos="fade-up">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class='bx bx-calendar-exclamation bx-sm bx-tada-hover'></i>
                </div>
                <p class="card-category">{{'ASSINANTES.PREMIUM-VALIDADE' | translate}}</p>
                <h5 class="card-title">{{assinante.endDate | date:'dd/MM/yyyy'}}</h5>
              </div>
              <div class="card-footer">
                <div class="stats"></div>
              </div>
            </div>
          </div>
        </div>
        <div>                  
          <p>{{'ASSINANTES.TEXTO2' | translate}}</p>
          <p>{{'ASSINANTES.TEXTO3' | translate}}</p>
          <p>{{'ASSINANTES.TEXTO4' | translate}}</p><br>
          <p>{{'ASSINANTES.TEXTO5' | translate}}</p>
        </div>
        <div class="row align-items-center text-center justify-content-center" data-aos="fade-up">
          <div class="div.renew">
            <img class="image-renew" src="assets/img/assinante/credcard.svg" alt="...">
            <a href="/pagamento">
              <button class=" btn btn-buy button-renew bx-tada-hover">{{'ASSINANTES.BOTAO-RENOVAR' | translate}}</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>