.div-renew {
  position: relative;
}

.image-renew {
  position: relative;
  width: 60%;
}

.button-renew {
  position: absolute;
  left: 39%;
  top: 62%;
  transform: rotate(-20deg);
  background: linear-gradient(to right, #9558d5, #701ec6);
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
  border: 0;
}
.pricing {
	margin-top: 120px;
}

.pricing .box {
	padding: 10px 20px;
	text-align: center;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
	background: #fefefe;
	box-shadow: 0px 5px 30px 5px rgba(110, 123, 131, 0.5);
	margin: 50px 0px 10px 10px;
	max-width: 350px;
	max-height: 550px;
}

.pricing .box:hover {
	transform: scale(1.08);
}

.pricing .box h3 {
	font-weight: 400;
	padding: 15px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}

.pricing .box h4 {
	font-size: 42px;
	color: #701ec6;
	font-weight: 500;
	font-family: "Open Sans", sans-serif;
	margin-bottom: 20px;
}

.pricing .box h4 sup {
	font-size: 20px;
	top: -15px;
	left: -3px;
}

.pricing .box h4 span {
	color: black;
	font-size: 16px;
	font-weight: 300;
}

.pricing .box ul {
	padding: 0;
	list-style: none;
	color: black;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
}

.pricing .box ul li {
	padding-bottom: 16px;
}

.pricing .box ul .na {
	color: #ccc;
	text-decoration: line-through;
}

.pricing .box .btn-wrap {
	padding: 15px;
	text-align: center;
}

.pricing .box .btn-buy {
	display: inline-block;
	padding: 10px 40px;
	border-radius: 4px;
	color: #701ec6;
	transition: none;
	font-size: 14px;
	font-weight: 400;
	font-weight: 600;
	transition: 0.3s;
	border: 2px solid #701ec6;
	text-decoration: none;
}

.pricing .box .btn-buy:hover {
	background: linear-gradient(to right, #9558d5, #701ec6);
	color: #fff;
}

.pricing .featured {
	background: linear-gradient(to right, #9558d5, #701ec6);
}

.pricing .featured h3, .pricing .featured h4, .pricing .featured h4 span, .pricing .featured ul, .pricing .featured ul .na {
	color: #fff;
}

.pricing .featured .btn-wrap {
	padding: 15px;
	text-align: center;
}

.pricing .featured .btn-buy {
	color: #fff;
	border: 2px solid #fff;
}

.pricing .featured .btn-buy:hover {
	background: #fff;
	color: #701ec6;
}
.section-title {
	text-align: center;
	padding-bottom: 30px;
	position: relative;
	color: #555;
  }

  .image{
	  margin-top: 100px;
	  height: 100%;
  }

.card-icon> .bx-sm{
  font-size: 2rem !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eee;  
  font-size: 0.875rem;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;  
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card> hr {
  margin-right: 0;
  margin-left: 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.card .card-footer {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
}

.card.bmd-card-raised {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.card .card-header {
  border-bottom: none;
  background: transparent;
}


.card .card-header-success .card-icon,
.card .card-header-success .card-text,
.card .card-header-success:not(.card-header-icon):not(.card-header-text),
.card.bg-success,
.card.card-rotate.bg-success .front,
.card.card-rotate.bg-success .back {
  background: linear-gradient(to right, #9558d5, #701ec6);
}

.card .card-header-success .card-icon,
.card .card-header-success:not(.card-header-icon):not(.card-header-text),
.card .card-header-success .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.card [class*="card-header-"],
.card[class*="bg-"] {
  color: #fff;
}

.card [class*="card-header-"] .card-title a,
.card [class*="card-header-"] .card-title,
.card [class*="card-header-"] .icon i,
.card[class*="bg-"] .card-title a,
.card[class*="bg-"] .card-title,
.card[class*="bg-"] .icon i {
  color: #fff;
}

.card .card-stats {
  background: transparent;
  display: flex;
}



.card .card-header.card-header-icon i,
.card .card-header.card-header-text i {
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
}

.card .card-header.card-header-icon .card-title,
.card .card-header.card-header-text .card-title {
  margin-top: 15px;
  color: #555;
}


.card .card-actions .card-header {
  padding: 0;
  min-height: 160px;
}

.card .card-body + .card-footer,
.card .card-footer {
  padding: 0;
  padding-top: 10px;
  margin: 0 15px 10px;
  border-radius: 0;
  justify-content: space-between;
  align-items: center;
}

.card .card-footer .stats {
  color: #999999;
  font-size: 12px;
  line-height: 22px;
}
.card .card-body + .card-footer .stats,
.card .card-footer .stats .card-category {
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
}

.card .card-body + .card-footer .stats .card-category,
.card .card-body+.card-footer .stats .material-icons,
.card .card-footer .stats .material-icons {
  position: relative;
  top: 4px;
  font-size: 16px;
}

.card [class*="card-header-"] {
  margin: 0px 15px 0;
  padding: 0;
  position: relative;
}

.card [class*="card-header-"] .card-icon,
.card [class*="card-header-"] .card-text {
  border-radius: 3px;
  background-color: #999999;
  padding: 15px;
  margin-top: -20px;
  margin-right: 15px;
  float: left;
}

.card-stats .card-header.card-header-icon,
.card-stats .card-header.card-header-text {
  text-align: right;
}

.card-stats .card-header .card-icon+.card-title,
.card-stats .card-header .card-icon+.card-category {
  padding-top: 10px;
}

.card-stats .card-header.card-header-icon .card-title,
.card-stats .card-header.card-header-text .card-title,
.card-stats .card-header.card-header-icon .card-category,
.card-stats .card-header.card-header-text .card-category {
  margin: 0;
}

.card-stats .card-header .card-category:not([class*="text-"]) {
  color: #999;
  font-size: 14px;
}

.card-stats .card-header+.card-footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
}

.card-stats .card-header.card-header-icon i {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  text-align: center;
}

.card-stats .card-body {
  text-align: right;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  color: #555;  
}

@media (max-width: 1196px) {
	.button-renew {    
    position: absolute;
    left: 37%;
    top: 62%;
    transform: rotate(-20deg);
    background: linear-gradient(to right, #9558d5, #701ec6);      
 	}
}

@media (max-width: 1152px) {
	.button-renew {    
    position: absolute;
    left: 38%;
    top: 62%;
    transform: rotate(-20deg);
    background: linear-gradient(to right, #9558d5, #701ec6);      
 	}
}

@media (max-width: 768px) {
	.button-renew {    
    position: absolute;
    left: 30%;
    top: 75;
    transform: rotate(-20deg);
    background: linear-gradient(to right, #9558d5, #701ec6);      
 	}
}

@media (max-width: 540px) {
	.button-renew {    
    position: absolute;
    left: 31%;
    top: 65;
    transform: rotate(-20deg);
    background: linear-gradient(to right, #9558d5, #701ec6);          
      
	}
}

@media (max-width: 470px) {
	.button-renew {    
    position: absolute;
    left: 31%;
    top: 65;
    transform: rotate(-20deg);
    background: linear-gradient(to right, #9558d5, #701ec6);          
    font-size: 55%;   
	}
}