<app-headerlog></app-headerlog>
<section id="pricing" class="pricing">
  <div class="section-title" data-aos="fade-up">
    <div class="container">
      <div class="row text-center ">
        <h2>{{ 'INICIO.PLANOS-TITULO' | translate }}</h2>
        <div class="col-md-12 ">
          <p>{{ 'INICIO.PLANOS-SUBTITULO' | translate }}</p>
        </div>
      </div>
    
  
  <div class="row">
    <div class="col-md-6 " data-aos="zoom-in" data-aos-delay="100">
      <div class="box featured">
        <h3>{{'INICIO.PLANOS-TITULO-CARD2' | translate}}</h3>
        <h4><sup>R$</sup>10<span> {{'INICIO.PLANOS-POR-MES' | translate}}</span></h4>
        <ul>
          <li>{{'INICIO.PLANOS-TEXTO1-CARD2' | translate}}</li>          
          <li>{{'INICIO.PLANOS-TEXTO3-CARD2' | translate}}</li>
          <li>{{'INICIO.PLANOS-TEXTO4-CARD2' | translate}}</li>
          <li>{{'INICIO.PLANOS-TEXTO5-CARD2' | translate}}</li>
          <li>{{'INICIO.PLANOS-TEXTO6-CARD2' | translate}}</li>
        </ul>
        <div class="btn-wrap">
          <a href="#" class="btn-buy">{{'INICIO.PLANOS-CADASTRAR-CARD2' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 image" data-aos="zoom-in" data-aos-delay="100">
      <img src="assets/img/pages/planos.svg" alt="erro" style="width:100%;">
    </div>
  </div>
</div>
</div><br>
  <br>
  <br>
</section>