
    <app-header></app-header>



<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Planos</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-md-2 ">
          

        </div>
        <div class="col-md-4 " data-aos="zoom-im" data-aos-delay="100">
          <div class="box">
            <h3>Free</h3>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Cadastre-se</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 " data-aos="zoom-in" data-aos-delay="100">
          <div class="box featured">
            <h3>Premium</h3>
            <h4><sup>R$</sup>10<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Comprar</a>
            </div>
          </div>
        </div>  
        <div class="col-md-2 " >  
        </div>

 
      </div>
    </div>
    <br>
    <br>
    <br>
  </section>