<app-header></app-header>
<div class="page-header header-filter back">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login" data-aos="fade-up">
            <div class="form">
              <div class="card-header card-header-primary text-center ">
                <h4 class="card-title">{{ 'NOVA-SENHA.TITLE' | translate }}</h4>
              </div>
              <div class="card-body">
                <form>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="bx bx-lock bx-sm bx-tada-hover"></i>
                          </span>
                        </div>
                        <input class="un form-control " type="password" placeholder="{{ 'NOVA-SENHA.NOVA-SENHA' | translate }}" />
                      </div>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="bx bx-lock bx-sm bx-tada-hover"></i>
                          </span>
                        </div>
                        <input formControlName="password" name="password"
                          class="un form-control " type="password" placeholder="{{ 'NOVA-SENHA.CONFIRMAR-SENHA' | translate }}" />
                      </div>
                      <p class="error"
                        align="center">{{ 'CADASTRO.INVALIDO' | translate }}</p>
                      <div class="password-group">
                        <p class="password-title">{{ 'CADASTRO.CAMPO-SENHA' | translate }}</p>
                        <ul class="password-list">
                          <li>{{ 'CADASTRO.CAMPO-CRIT-1' | translate }}</li>
                          <li>{{ 'CADASTRO.CAMPO-CRIT-2' | translate }}</li>
                          <li>{{ 'CADASTRO.CAMPO-CRIT-3' | translate }}</li>
                          <li>{{ 'CADASTRO.CAMPO-CRIT-4' | translate }}</li>
                          <li>{{ 'CADASTRO.CAMPO-CRIT-5' | translate }}</li>
                        </ul>
                      </div>
                </form>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                    <a href="\login"><button class="submit" align="center">
                      {{ 'NOVA-SENHA.CONFIRMAR' | translate }}
                    </button></a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
