<app-header></app-header>
<div class="page-header header-filter back">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto mt-3">
        <div class="card card-login " data-aos="fade-up">
          <div class="form">
            <div class="card-header card-header-primary text-center " data-aos="fade-up">
              <h4 class="card-title">{{ 'CADASTRO.TITULO' | translate }}</h4>
            </div>
            <div class="card-body">
              <div class="division">
                <div class="line l">
                </div>
                <span class="cg">Ou</span>
                <div class="line r">
                </div>
              </div>
              <form [formGroup]="formCadastro">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bx bx-user bx-sm bx-tada-hover"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="this.form.name" formControlName="name" name="socialName" class="un form-control "
                    type="text" placeholder="{{ 'CADASTRO.SOCIAL' | translate }}">
                </div>
                <p *ngIf="formCadastro.get('name')!.touched && !formCadastro.get('name')!.valid" class="error"
                  align="center">{{ 'CADASTRO.INVALIDO' | translate }}</p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bx bx-mail-send bx-sm bx-tada-hover"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="this.form.username" formControlName="username" class="un form-control "
                    type="text" placeholder="{{ 'CADASTRO.USUARIO' | translate }}" />
                </div>
                <p *ngIf="formCadastro.get('username')!.touched && !formCadastro.get('username')!.valid" class="error"
                  align="center">{{ 'CADASTRO.INVALIDO' | translate }}</p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bx bx-calendar bx-sm bx-tada-hover"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="this.form.birthDate" [ngModelOptions]="{standalone: true}"
                    class="un form-control " type="date" max="9999-12-31" onfocus="(this.type='date')"
                    onblur="(this.type='date')" placeholder="{{ 'CADASTRO.NASCIMENTO' | translate }}" />
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bx bx-palette bx-sm bx-tada-hover"></i>
                    </span>
                  </div>
                  <div class="form-check radio-form text-center p-2">
                    <label class="form-check-label" style="margin-right: 30px;">
                      <input [(ngModel)]="this.form.role" [ngModelOptions]="{standalone: true}" class="form-check-input"
                        (click)="checkIsArtist()" type="radio" name="category" id="category" value="artist" checked="">
                      {{ 'CADASTRO.ARTISTA' | translate }}
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                    <label class="form-check-label" style="margin-right: 30px;">
                      <input [(ngModel)]="this.form.role" [ngModelOptions]="{standalone: true}" class="form-check-input"
                        (click)="checkIsClient()" type="radio" name="category" id="category" value="client" checked="">
                      {{ 'CADASTRO.CLIENTE' | translate }}
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="input-group" *ngIf="isArtist && !isClient">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bx bx-palette bx-sm bx-tada-hover"></i>
                    </span>
                  </div>
                  <select class="select" [(ngModel)]="this.form.category" [ngModelOptions]="{standalone: true}">
                    <optgroup *ngFor="let categoria of arraySelect" [label]="categoria.category">
                      <option *ngFor="let subcategoria of categoria.subcategory"
                        [value]="categoria.category+'_'+subcategoria">
                        {{subcategoria}}
                      </option>
                    </optgroup>
                  </select>
                </div>
              </form>
            </div>
            <p *ngIf="invalidField" class="error" style="padding: 20px;" align="center">{{ "CADASTRO.ERRO" | translate
              }}</p>
            <div class="text-center">
              <button class="submit" align="center" (click)="cadastroArtPlus()">
                {{ "CADASTRO.BOTAO" | translate }}
              </button>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-12 mt-1 fot">
                  <p class="text-fo">{{ "CADASTRO.POSSUI-CONTA" | translate }}</p>
                  <a href="\login" class="text-link">{{ "CADASTRO.ENTRAR" | translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
