<app-headerlog></app-headerlog>
<div class="container mt-5 mb-5 pag">
    <div class="row mt-5 mt-5 mb-5">
        <div class="col-md-6 text-center ops ">
            <div class="col-md-12 text-center ops text_ops ">
                <h1 class=""></h1>
            </div>
            <div class="col-md-12 text-center mt-5">
                <h2 class="">Desculpe, a página está em construção.</h2>
            </div>
            <div class="col-md-6 text-center "> <a href="/homepage"><button  type="button" class="btn-principal">Voltar</button></a></div>
        </div>

        <div class="col-md-6 mt-5">
            <img src="assets/img/pages/build.svg"alt="erro" style="width:100%;">
        </div>
    </div>
</div>
<app-footer></app-footer>
