<app-headerlog></app-headerlog>

<div class="container">
    <div class="main-body">
        <div class="row" >
            <div class="col-lg-4 mt-j" data-aos="fade-up" >
                <div class="card">
                    <div class="card-body">
                        <div class="account-settings d-flex flex-column">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img class="rounded-circle img-fluid mx-auto"
                                        src="https://www.vagalume.com.br/pabllo-vittar/images/pabllo-vittar.jpg">
                                </div>
                                <h5 class="user-name">Pablo Vittar</h5>
                                <h5 class="user-email">vitarlovers@yukee.com</h5>
                            </div>
                            <div class="about">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 ">
                                        <div class="test">
                                            <i class="bx bx-edit bx-sm bx-tada-hover "></i>
                                        </div>
                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 ">
                                        <h5 class="mb-2 c1 tl">Sobre</h5>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed
                                        lorem sed tellus posuere tincidunt a ac lorem. Nam urna tellus, luctus vel
                                        suscipit
                                        sed,
                                        maximus id sapien. Nam vestibulum aliquam sapien a malesuada. Aliquam egestas
                                        magna
                                        quis
                                        ligula gravida varius. Nunc convallis sollicitudin egestas. Vivamus condimentum,
                                        nisi vitae
                                        porta vehicula, est ipsum eleifend felis, pharetra condimentum quam felis nec
                                        justo.
                                        Proin
                                        vitae ligula tincidunt nibh scelerisque fermentum. Praesent semper.</p>
                                </div>
                                <div class="col-md-12">
                                    <label class="label-text" for="fullName ">Descrição:</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control2" name="" id="" cols="50" rows="6"
                                        placeholder="Digite a descrição..." maxlength="500"></textarea>
                                </div>

                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                                        <div class="text-center">
                                            <button type="button" id="submit" name="submit"
                                                class="submit">Salvar</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <hr class="my-4">
                            <div class="row align-items-center">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 ">
                                    <div class="test">
                                        <i class="bx bx-wink-smile bx-sm bx-tada-hover "></i>
                                    </div>
                                </div>
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                                    <h5 class="mb-3 c1">Redes Sociais</h5>
                                </div>
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <i class="fab fa-facebook-f icon-color"></i>
                                            <input type="url" class="form-control1" id="phone" placeholder="Facebook">
                                        </div>
                                        <div class="col-md-12">
                                            <i class="fab fa-twitter icon-color"></i>
                                            <input type="url" class="form-control1" id="phone" placeholder="Twitter">
                                        </div>
                                        <div class="col-md-12">
                                            <i class="fab fa-instagram icon-color"></i>
                                            <input type="url" class="form-control1" id="phone" placeholder="Instagram">
                                        </div>
                                        <div class="col-md-12 ">
                                            <i class="fas fa-comment-alt icon-color"></i>
                                            <input type="text" class="form-control1" id="phone" placeholder="Contato">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                                        <div class="text-center">
                                            <button type="button" id="submit" name="submit"
                                                class="submit">Salvar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mt-j" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                                <div class="test">
                                    <i class="bx bx-user bx-sm bx-tada-hover "></i>
                                </div>
                            </div>
                            <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h5 class="mb-3 c1">Detalhes</h5>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="row ">
                                        <div class="col-md-6 ">
                                            <label class="label-text" for="fullName ">Nome:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="label-select" for="fullName">Pablo Vittar</label>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="fullName" placeholder="Nome">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="label-text" for="user">Nome de Usuário:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="label-select" for="fullName">Pablo Vittar</label>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="user" placeholder="Nome de usuário">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="label-text" for="user">Foto de Perfil:</label>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                    <input type="file" accept=".jpg, .jpeg, .png" class="form-control" id="photo">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="label-text" for="user">Pronomes:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="label-select" for="fullName">(ela/dela)</label>
                                        </div>
                                    </div>

                                    <input type="text" class="form-control" id="pronome"
                                        placeholder="Digite os pronomes">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="label-text" for="website">Data de Nascimento:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="label-select" for="fullName">Pablo Vittar</label>
                                        </div>
                                    </div>
                                    <input type="date" class="form-control" id="datanasc">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="label-text" for="phone">Telefone:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="label-select" for="fullName">(xx) xxxxx-xxxx</label>
                                        </div>
                                    </div>


                                    <input type="tel" class="form-control" id="phone" placeholder="Primeiro telefone">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="label-text" for="phone">Telefone:</label>
                                        </div>
                                        <div class="col-md-6">

                                            <label class="label-select" for="fullName">(xx) xxxxx-xxxx</label>
                                        </div>
                                    </div>
                                    <input type="tel" class="form-control" id="phone" placeholder="Segundo telefone">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="label-text" for="phone">Telefone:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="label-select" for="fullName">(xx) xxxxx-xxxx</label>
                                        </div>
                                    </div>
                                    <input type="tel" class="form-control" id="phone" placeholder="Terceiro telefone">
                                </div>
                            </div>

                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                                    <div class="text-center">
                                        <button type="button" id="submit" name="submit" class="submit">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 " data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                                        <div class="test">
                                            <i class="bx bx-map bx-sm bx-tada-hover "></i>
                                        </div>
                                    </div>
                                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                                        <h5 class="mb-3 c1">Endereço</h5>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="label-text" for="Street">Logradouro:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="label-select" for="fullName">Pablo foi longe
                                                        demais</label>
                                                </div>
                                            </div>
                                            <input type="name" class="form-control" id="Street"
                                                placeholder="Digite o logradouro">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6"> <label class="label-text" for="ciTy">Nº</label>
                                                </div>
                                                <div class="col-md-6"> <label class="label-select"
                                                        for="fullName">xxxx</label></div>
                                            </div>
                                            <input type="name" class="form-control" id="ciTy"
                                                placeholder="Digite o número">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="label-text" for="sTate">Cidade</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="label-select" for="fullName">São Paulo</label>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="sTate"
                                                placeholder="Digite a cidade">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6"> <label class="label-text"
                                                        for="zIp">Estado</label></div>
                                                <div class="col-md-6"> <label class="label-select"
                                                        for="fullName">SP</label></div>
                                            </div>
                                            <input type="text" class="form-control" id="zIp" placeholder="Digite a UF">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6"><label class="label-text" for="zIp">Bairro</label>
                                                </div>
                                                <div class="col-md-6"> <label class="label-select" for="fullName">Vila
                                                        Formosa</label></div>
                                            </div>
                                            <input type="text" class="form-control" id="zIp"
                                                placeholder="Digite o bairro">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="label-text" for="zIp">CEP</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="label-select" for="fullName">xxxxx-xxx</label>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="zIp" placeholder="Digite o CEP">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="label-text" for="zIp">Complemento</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="label-select" for="fullName">xxxxxx xxxxxxx xxxx
                                                        xxxx</label>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="zIp"
                                                placeholder="Digite o Complemento">
                                        </div>

                                    </div>

                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                                            <div class="text-center">
                                                <button type="button" id="submit" name="submit"
                                                    class="submit">Salvar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                                        <div class="test">
                                            <i class="bx bx-lock bx-sm bx-tada-hover"></i>
                                        </div>

                                    </div>
                                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                                        <h5 class="mb-3 c1">Senha</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label class="label-text" for="Street">Senha Atual</label>
                                                <input type="password" class="form-control" id="Street"
                                                    placeholder="Digite a senha">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label class="label-text" for="ciTy">Nova Senha</label>
                                                <input type="password" class="form-control" id="ciTy"
                                                    placeholder="Digite a senha">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label class="label-text" for="sTate">Confirmar nova senha</label>
                                                <input type="password" class="form-control" id="sTate"
                                                    placeholder="Digite a senha">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                                            <div class="text-center">
                                                <button type="button" id="submit" name="submit" class="submit">Salvar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>