.container{
    margin-top: 5rem;
}

.btn-principal {
    background: linear-gradient(to right, #9558d5, #701ec6);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
    border: 0;
}

.btn-principal:hover {
    background: linear-gradient(to left, #9558d5, #701ec6);
    color: white !important;
    margin-left: 30px;
    border: 0;
}

.btn-outline-primary{
    background-color: #fff; 
    border-color: #9558d5;
    color: #9558d5;
    min-width: 9.5rem;
    min-height: 4rem;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active{
    background-color: #9558d5; 
    border-color: #9558d5;
    color: #fff;
    min-width: 9.5rem;
    min-height: 4rem;
}

.btn-principal:active {
    background: linear-gradient(to left, #9558d5, #701ec6);
    color: white !important;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
    border: 0;
}


.c1 {

    font-size:  1.75rem;
    text-align: center;
    
}

.c2 {
    color: #701ec6;
    font-size:  2rem;
    text-align: center;
    
}

.img1{
    width: 30rem;
    margin-right: 40px;
}