.container {
    margin-top: 3rem;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
  
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }

.btn-principal {
    background: linear-gradient(to right, #9558d5, #701ec6);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.btn-principal:hover {
    background: linear-gradient(to left, #9558d5, #701ec6);
    color: white !important;
    margin-left: 30px;
    border: 0;
}

.btn-outline-primary {
    background-color: #fff;
    border-color: #9558d5;
    color: #9558d5;
    min-width: 9rem;
    min-height: 2rem;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    background: linear-gradient(to right, #9558d5, #701ec6);
    ;
    border-color: #701ec6;
    color: #fff;
    min-width: 9rem;
    min-height: 2rem;
}

.btn-principal:active {
    background: linear-gradient(to left, #9558d5, #701ec6);
    color: white !important;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
    border: 0;
    min-width: 5rem;
    min-height: 2rem;
}

.c1 {
    font-size: 1.75rem;
    text-align: center;
}

.c2 {
    color: #701ec6;
    font-size: 2rem;
    text-align: center;
}

.img1 {
    width: 30rem;
    margin-right: 40px;
}

.accordion-button:focus {
    background-color: #fff;
    border: 1rem;
}

.accordion-header :hover {
    background-color: #701ec6;
    color: #fff;
    font-weight: 600px;
}

@media (max-width:786px) {
    .interesse-button {
        min-width: 107%;
    }
    .btn-outline-primary {
        min-width: 105%;
    }
    .btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
        min-width: 105%;
    }
    .imagem-interesse {
        width: 100%;
        padding-left: 5%;
        max-width: 80%;
    }
}

.interesse-button {
    color: #701ec6;
    text-align: center;
    border-color: #701ec6;
    border: 1rem !important;
    text-align: center;
}