<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 mr-0 mt-5 mb-3">
                    <p class="c1 ">Escolha as <b class="c2"> categorias</b>
                         de artistas que você possui <b class="c2">mais interesse </b> de acompanhar</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center text-center justify-content-center">
            <div class="col-md-6 mb-3  img1">
                <img src="assets/img/pages/interest.svg" alt="erro" style="width:100%;">
            </div>
            <div class="col-md-6 y-5 mb-3 ">
                <div class="row ">
                    <div class="col-sm-4 text-center p-1"> <a href=""><button type="button" class="btn1">Categoria</button></a>
                    </div>
                    <div class="col-md-4 text-center p-1"> <a href=""><button type="button" class="btn1">Categoria</button></a>
                    </div>
                    <div class="col-md-4 text-center p-1"> <a href=""><button type="button" class="btn1">Categoria</button></a>
                    </div>
                    <div class="col-md-4 text-center p-1"> <a href=""><button type="button" class="btn1">Categoria</button></a>
                    </div>
                    <div class="col-md-4 text-center p-1"> <a href=""><button type="button" class="btn1">Categoria</button></a>
                    </div>
                    <div class="col-md-4 text-center p-1"> <a href=""><button type="button" class="btn1">Categoria</button></a>
                    </div>
                    <div class="col-md-4 text-center p-1"> <a href=""><button type="button" class="btn1">Categoria</button></a>
                    </div>
                    <div class="col-md-4 text-center p-1"> <a href=""><button type="button" class="btn1">Categoria</button></a>
                    </div>
                    <div class="col-md-4 text-center p-1"> <a href=""><button type="button" class="btn1">Categoria</button></a>
                    </div>
                    <div class="col-md-4 text-center p-1 "> <a href=""><button type="button" class="btn1">Categoria</button></a>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mb-5 mt-3 justify-content-center align-items-center">
                <a href="/homepage"><button  type="button" class="btn-principal">Avançar</button></a>
            </div>
        </div>
    </div>
</div>