section {
	overflow: hidden;
	position: relative;
    padding: 10px 40px;
    text-align: justify;
}

.section-title {
	text-align: center;
	padding-bottom: 30px;
	position: relative;
}

.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
}

.section-title h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: #701ec6;
	bottom: 0;
	left: calc(50% - 25px);
}

.section-title p {
	margin-bottom: 0;
}

ul{
    list-style-type:lower-alpha;
}

li{
    padding: 10px;
}

.idioma{
    margin-top: 10px;
}

.logo{
    width: 110px;
    text-align: center;
    align-items: center;
}
