<section>
    <div class="text-center idioma mb-3">{{'PRIVACIDADE.SELE-IDIOMA' | translate}}<select-lang></select-lang></div>
    <div class="text-center mb-3">
        <img src="../assets/img/logos/log.png" alt="" class="logo">
    </div>
    <div class="section-title">
        <h2>{{'PRIVACIDADE.TITULO' | translate}}</h2>
        <p>{{'PRIVACIDADE.SUBTITULO' | translate}}</p>
    </div>
    <div>
        <p>{{'PRIVACIDADE.TEXTO-1' | translate}}</p>
    </div>
    <div>
        <p>{{'PRIVACIDADE.TEXTO-2' | translate}}</p>
    </div>
    <div>
        <p>{{'PRIVACIDADE.TEXTO-3' | translate}}</p>
    </div>
    <div>
        <ul>
            <li>{{'PRIVACIDADE.TEXTO-ITEMA' | translate}}</li>
            <li>{{'PRIVACIDADE.TEXTO-ITEMB' | translate}}</li>
            <li>{{'PRIVACIDADE.TEXTO-ITEMC' | translate}}</li>
            <li>{{'PRIVACIDADE.TEXTO-ITEMD' | translate}}</li>
            <li>{{'PRIVACIDADE.TEXTO-ITEME' | translate}}</li>
            <li>{{'PRIVACIDADE.TEXTO-ITEMF' | translate}}</li>
            <li>{{'PRIVACIDADE.TEXTO-ITEMG' | translate}}</li>
            <li>{{'PRIVACIDADE.TEXTO-ITEMH' | translate}}</li>
            <li>{{'PRIVACIDADE.TEXTO-ITEMI' | translate}}</li>
        </ul>
    </div>
    <div>
        <p>{{'PRIVACIDADE.TEXTO-4' | translate}}</p>
    </div>
    <div>
        <p>{{'PRIVACIDADE.TEXTO-5' | translate}}</p>
    </div>
    <div>
        <p>{{'PRIVACIDADE.TEXTO-6' | translate}}</p>
    </div>
    <div>
        <p>{{'PRIVACIDADE.TEXTO-7' | translate}}</p>
    </div>
</section>