.friend-list .friend-card {
    border-radius: 4px;
    border-bottom: 1px solid #f1f2f2;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 30px 0 rgba(67, 18, 112, 0.3);
    height: 16rem;
 
  }
  
  .friend-list .friend-card:hover {
    transform: scale(1.08);
  }
  
  .friend-list .friend-card .card-info {
    text-align: center;
  }
  
  img.profile-photo-lg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -60px;

  }
  
  .text-cat {
    color: #FFF;
    text-decoration: none;
    background-color: #6f1ec6dc;
    padding: 5px 7px;
    margin-top: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .text-sub {
    color: #701ec6;
    text-decoration: none;
    font-size: small;
    border-radius: 4px;
    padding: 5px 7px;
    border: 1px solid #701ec6;
    margin-top: 15px;
    background-color: #FFF;
  }
  
  .title {
    font-size: 30px;
    text-align: center;
    padding-left: 70px;
  }
  
  .sub {
    font-size: 25px;
    text-align: center;
    padding-left: 0px;
    color: #701ec6;
  }
  
  .img-responsive {
    width: 415px;
    height: 70px !important;
    background-color: #bf8cf5;
  }
  

  .profile{
    font-size: .85rem;
  }
  
  section {
    padding: 60px 0;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    margin-top: 20px;
    color: #555555;

  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #555555;

  }
  
  @media only screen and (max-width: 600px) {
    .section-title{
      margin-top: 40px;
      font-size: 18px;
    }
    .section-title h2 {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
    }
  
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #701ec6;
    bottom: 0;
    left: calc(50% - 25px);
  }

.star{
  color: #ffd700;
  position: absolute;
  top: 10px;
  z-index: 23;
  margin-left: 150px;
  margin-top: 65px;
}
.star p{
  font-weight: 400;
  position: absolute;
  font-size: 8px;
  color: #bea201;
}

.name{
  text-decoration: none;
  color: #555555;
  text-align: center;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 0 !important;
}

.profile-link {
  text-decoration: none;
  color: #555555;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}