<app-headerlog></app-headerlog>
<section clas=welcome>
  <div class="section-title" data-aos="fade-up">
    <div class="container">
      <div class="row text-center">
        <h2>{{ 'USUARIOS.TITULO' | translate }}</h2>
        <div class="col-md-12 ">
          <p>{{ 'USUARIOS.TEXTO' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="friend-list">
      <div class="row">
        <div *ngFor="let usuario of usuarios" class="col-md-2 col-sm-6">
          <div class="friend-card" (click)="getPerfilById(usuario.userId)">
            <div class="img-responsive cover">
              <img [src]="usuario.backgroundPicture" alt="profile-cover" class="img-responsive cover">
            </div>
            <div class="card-info">
              <img [src]="usuario.userPicture" alt="user" class="profile-photo-lg">
              <div class="friend-info">
                <a class="pull-right mt-5 text-cat">{{usuario.category}}</a><br>
                <div class="mt-2">
                  <a class="pull-right text-sub">{{usuario.subcategory}}</a>
                </div>
                <div class="mt-2">
                  <h5><a class="profile-link">{{usuario.username}}</a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
