<header id="header" class="fixed-top">
    <div class="container d-flex  justify-content-between">
         <div class="container-fluid">
          <a class="navbar-brand" href="\inicio">
            <img src="../assets/img/logos/log.png" alt="" class="d-inline-block align-text-top logo"></a>
        </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">{{ 'MENU.HOME' | translate }}</a></li>
          <li><a class="nav-link scrollto" href="#about">{{ 'MENU.SOBRE' | translate }}</a></li>
          <li><a class="nav-link scrollto" href="#pricing">{{ 'MENU.PLANOS' | translate }}</a></li>
          <li><a class="nav-link scrollto" href="\erro">{{ 'MENU.EQUIPE' | translate }}</a></li>
          <select-lang></select-lang>
          
          <li><a class="nav-link" href="\cadastro">{{ 'MENU.CADASTRO' | translate }}</a></li>
          <li><a class="getstarted" href="\login">{{ 'MENU.ENTRAR' | translate }}</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>