<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="sobre col-md-10">
          <h6>{{'FOOTER.SOBRE' | translate}}</h6>
          <p class="text-justify">{{'FOOTER.SOBRE-TEXTO' | translate}}</p>
        </div>
        <div class="links col-md-4">
          <h6>{{'FOOTER.LINKS' | translate}}</h6>
          <ul class="footer-links">
            <li><a href="\sobre">{{'FOOTER.NOS' | translate}}</a></li>
            <li><a href="\privacidade">{{'FOOTER.PRIVACIDADE' | translate}}</a></li>
            <li><a href="\cadastro">{{'FOOTER.CADASTRAR' | translate}}</a></li>
            <li><a href="\login">{{'FOOTER.LOGIN' | translate}}</a></li>
            <li><a href="\planos">Princing</a></li>
            <li><a href="\time">Team</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container" class="copyright-div" align= "center">
        <p class="copyright-text">Copyright &copy;{{'FOOTER.COPYRIGHT' | translate}}</p>
    </div>
</footer>