<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="sobre">
          <h6>{{'FOOTER.SOBRE' | translate}}</h6>
          <p class="text-justify">{{'FOOTER.SOBRE-TEXTO' | translate}}</p>
        </div>
        <div class="links">
          <h6>{{'FOOTER.LINKS' | translate}}</h6>
          <ul class="footer-links">
            <li><a href="#">{{'FOOTER.NOS' | translate}}</a></li>
            <li><a href="#">{{'FOOTER.PRIVACIDADE' | translate}}</a></li>
            <li><a href="#">{{'FOOTER.CADASTRAR' | translate}}</a></li>
            <li><a href="#">{{'FOOTER.LOGIN' | translate}}</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container" class="copyright-div" align= "center">
        <p class="copyright-text">Copyright &copy;{{'FOOTER.COPYRIGHT' | translate}}</p>
    </div>
</footer>