<app-headerlog></app-headerlog>
<div class="row py-3 px-4">
    <div class="col-xl-12 col-md-12 col-sm-12 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow  overflow-hidden">
            <div class="row">
                <div class="col-lg-12 shadow back">
                    <div class="img-responsive text-center">
                        <img [src]="artist.userPicture" alt="..."
                            class="  rounded-circle img-fluid mx-auto img-perfil">
                    </div>
                </div>
            </div>
            <div class="media-body  text-black">
                <p class="mt-0 mb-0 name">{{artist.name}}</p>
                <!-- <p class="small mb-0 text-muted">(Ela/Dela)</p> -->
                <p class="small mb-2 category">{{artist.category}}- {{artist.subcategory}}</p>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <ul class="list-inline social-buttons">
                                <li class="list-inline-item">
                                    <a href="{{artist.facebook}}">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="{{artist.twitter}}">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="{{artist.instagram}}">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="{{artist.whatsappContact}}">
                                        <i class="fas fa-comment-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-8 mx-auto text-center">
                        <p class="large text-muted">{{artist.description}}</p>
                    </div>
                </div>
            </div>
            <div class="bg-light pt-4 pb-4 mb-3">
                <div class="row mx-auto">
                    <div class="bg-light col-md-3 d-block text-center ">
                        <i class="fa fa-phone icon-color mr-1 mb-2 mt-3" aria-hidden="true"></i>
                        <div class="col-md-12 fw-bold mb-3">Telefones</div>
                        <div class="bg-light col-md-12 d-block text-center text1">
                            <div class="col-md-12  text-muted">{{artist.mainPhone}}</div>
                            <div class="col-md-12 text-muted">{{artist.secundaryPhone}}</div>
                            <div class="col-md-12   text-muted">{{artist.thridPhone}}</div>
                        </div>
                    </div>
                    <div class="bg-light col-md-3 d-block text-center">
                        <i class="fa fa-map-marker icon-color mr-1 mb-2 mt-3" aria-hidden="true"></i>
                        <div class="col-md-12 fw-bold mb-3 ">
                            Endereço
                        </div>
                        <div class="row text1">
                            <div class="col-md-1  col-md-2 text-right fw-bold text-muted">Rua:</div>
                            <div class="col-md-7 text-muted ">{{artist.street}}</div>
                            <div class="col-md-1 text-left fw-bold text-muted">n°</div>
                            <div class="col-md-1 text-right text-muted">{{artist.number}}</div>
                        </div>
                        <div class="row text1">
                            <div class="col-md-1 text-left fw-bold text-muted">Bairro:</div>
                            <div class="col-md-6 text-muted">{{artist.neighborhood}}</div>
                            <div class="col-md-1 text-right fw-bold text-muted">CEP:</div>
                            <div class="col-md-4 text-right text-muted">{{artist.zipCode}}</div>
                        </div>
                        
                    </div>
                    <div class="bg-light col-md-3 d-block text-center">
                        <i class="fa fa-calendar icon-color mr-1 mb-2 mt-3" aria-hidden="true"></i>
                        <div class="col-md-12 fw-bold mb-3 ">Calendário</div>
                        <div class="bg-light col-md-12 d-block text-center">
                            <br>
                            <button class="getstarted" type="button" class="btn-calendar" aria-label="Acessar"
                                href="#ModalCalendar" data-bs-toggle="modal">Acessar</button>
                        </div>
                    </div>
                    <div class="bg-light col-md-3 d-block text-center">
                        <i class="fa fa-share icon-color mr-1 mb-2 mt-3" aria-hidden="true"></i>
                        <div class="col-md-12 fw-bold mb-3 ">Compartilhar</div>
                        <div class="bg-light col-md-12 d-block text-center">
                            <br>
                            <div class="col-md-12">
                                <ul class="list-inline social-buttons">
                                    <li class="list-inline-item">
                                        <a href="{{artist.facebookProfile}}">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{{profile.instagramProfile}}">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{{artist.whatsappProfile}}">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class=" row py-4 px-4">
                <div class="col-md-11">
                    <p class="mt-0 mb-3 title">Portifólio</p>
                </div>
                <section id="portfolio">
                    <div class="row">
                        <div class="col-md-4 mb-3 pr-lg-2 portifolio-item ">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover"></div>
                                <img src="https://images.pexels.com/photos/1813124/pexels-photo-1813124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="" class="img-fluid rounded  ">
                            </a>
                        </div>
                        <div class="col-md-4 mb-2 pl-lg-2"><a class="portfolio-link" data-bs-toggle="modal"
                                href="#portfolioModal2">
                                <div class="portfolio-hover"></div><img
                                    src="https://images.pexels.com/photos/736355/pexels-photo-736355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="" class="img-fluid rounded ">
                            </a></div>

                        <div class="col-md-4 pl-lg-2 mb-2"><a class="portfolio-link" data-bs-toggle="modal"
                                href="#portfolioModal3">
                                <div class="portfolio-hover"></div><img
                                    src="https://images.pexels.com/photos/210887/pexels-photo-210887.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="" class="img-fluid rounded ">
                            </a></div>

                        <div class="col-md-4 pl-lg-2 mb-2"><a class="portfolio-link" data-bs-toggle="modal"
                                href="#portfolioModal4">
                                <div class="portfolio-hover"></div><img
                                    src="https://images.pexels.com/photos/2479312/pexels-photo-2479312.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                    alt="" class="img-fluid rounded ">
                            </a></div>

                        <div class="col-md-4 pl-lg-2 mb-2"><a class="portfolio-link" data-bs-toggle="modal"
                                href="#portfolioModal5">
                                <div class="portfolio-hover"></div><img
                                    src="https://images.pexels.com/photos/1434625/pexels-photo-1434625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="" class="img-fluid rounded ">
                            </a></div>

                        <div class="col-md-4 pl-lg-2 mb-2"><a class="portfolio-link" data-bs-toggle="modal"
                                href="#portfolioModal6">
                                <div class="portfolio-hover"></div><img
                                    src="https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="" class="img-fluid rounded ">
                            </a></div>
                    </div>
                </section>
            </div>
        </div>

    </div>


    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content ">
                <div class="close-modal" type="button" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="modal-body">
                                <img class="img-fluid d-block mx-auto"
                                    src="https://images.pexels.com/photos/1813124/pexels-photo-1813124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="">
                                    <div class="row ">
                                        <div class="col-md-12 like">
                                            <i class="fab fa-gratipay"></i>
                                        </div>
                                    </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed
                                    lorem sed tellus posuere tincidunt a ac lorem. Nam urna tellus, luctus vel suscipit
                                    sed,
                                    maximus id sapien. Nam vestibulum aliquam sapien a malesuada. Aliquam egestas magna
                                    quis
                                    ligula gravida varius. Nunc convallis sollicitudin egestas. Vivamus condimentum,
                                    nisi vitae
                                    porta vehicula, est ipsum eleifend felis, pharetra condimentum quam felis nec justo.
                                    Proin
                                    vitae ligula tincidunt nibh scelerisque fermentum. Praesent semper at
                                </p>

                                <button class="getstarted" type="button" class="getstarted" data-bs-dismiss="modal"
                                    aria-label="Fechar">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="close-modal" type="button" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <img class="img-fluid d-block mx-auto"
                                    src="https://images.pexels.com/photos/736355/pexels-photo-736355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed
                                    lorem sed tellus posuere tincidunt a ac lorem. Nam urna tellus, luctus vel suscipit
                                    sed,
                                    maximus id sapien. Nam vestibulum aliquam sapien a malesuada. Aliquam egestas magna
                                    quis
                                    ligula gravida varius. Nunc convallis sollicitudin egestas. Vivamus condimentum,
                                    nisi vitae
                                    porta vehicula, est ipsum eleifend felis, pharetra condimentum quam felis nec justo.
                                    Proin
                                    vitae ligula tincidunt nibh scelerisque fermentum. Praesent semper at
                                </p>

                                <button class="getstarted" type="button" class="getstarted" data-bs-dismiss="modal"
                                    aria-label="Fechar">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  ">
            <div class="modal-content">
                <div class="close-modal" type="button" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="modal-body">
                                <img class="img-fluid d-block mx-auto"
                                    src="https://images.pexels.com/photos/210887/pexels-photo-210887.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed
                                    lorem sed tellus posuere tincidunt a ac lorem. Nam urna tellus, luctus vel suscipit
                                    sed,
                                    maximus id sapien. Nam vestibulum aliquam sapien a malesuada. Aliquam egestas magna
                                    quis
                                    ligula gravida varius. Nunc convallis sollicitudin egestas. Vivamus condimentum,
                                    nisi vitae
                                    porta vehicula, est ipsum eleifend felis, pharetra condimentum quam felis nec justo.
                                    Proin
                                    vitae ligula tincidunt nibh scelerisque fermentum. Praesent semper at
                                </p>

                                <button class="getstarted" type="button" class="getstarted" data-bs-dismiss="modal"
                                    aria-label="Fechar">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="close-modal" type="button" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="modal-body">
                                <img class="img-fluid d-block mx-auto"
                                    src="https://images.pexels.com/photos/2479312/pexels-photo-2479312.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                    alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed
                                    lorem sed tellus posuere tincidunt a ac lorem. Nam urna tellus, luctus vel suscipit
                                    sed,
                                    maximus id sapien. Nam vestibulum aliquam sapien a malesuada. Aliquam egestas magna
                                    quis
                                    ligula gravida varius. Nunc convallis sollicitudin egestas. Vivamus condimentum,
                                    nisi vitae
                                    porta vehicula, est ipsum eleifend felis, pharetra condimentum quam felis nec justo.
                                    Proin
                                    vitae ligula tincidunt nibh scelerisque fermentum. Praesent semper at
                                </p>
                                <button class="getstarted" type="button" class="getstarted" data-bs-dismiss="modal"
                                    aria-label="Fechar">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="close-modal" type="button" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <div class="modal-body">
                                <img class="img-fluid d-block mx-auto"
                                    src="https://images.pexels.com/photos/1434625/pexels-photo-1434625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed
                                    lorem sed tellus posuere tincidunt a ac lorem. Nam urna tellus, luctus vel suscipit
                                    sed,
                                    maximus id sapien. Nam vestibulum aliquam sapien a malesuada. Aliquam egestas magna
                                    quis
                                    ligula gravida varius. Nunc convallis sollicitudin egestas. Vivamus condimentum,
                                    nisi vitae
                                    porta vehicula, est ipsum eleifend felis, pharetra condimentum quam felis nec justo.
                                    Proin
                                    vitae ligula tincidunt nibh scelerisque fermentum. Praesent semper at
                                </p>
                                <button class="getstarted" type="button" class="getstarted" data-bs-dismiss="modal"
                                    aria-label="Fechar">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="close-modal" type="button" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="modal-body">
                                <img class="img-fluid d-block mx-auto"
                                    src="https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed
                                    lorem sed tellus posuere tincidunt a ac lorem. Nam urna tellus, luctus vel suscipit
                                    sed,
                                    maximus id sapien. Nam vestibulum aliquam sapien a malesuada. Aliquam egestas magna
                                    quis
                                    ligula gravida varius. Nunc convallis sollicitudin egestas. Vivamus condimentum,
                                    nisi vitae
                                    porta vehicula, est ipsum eleifend felis, pharetra condimentum quam felis nec justo.
                                    Proin
                                    vitae ligula tincidunt nibh scelerisque fermentum. Praesent semper at
                                </p>
                                <button class="getstarted" type="button" class="getstarted" data-bs-dismiss="modal"
                                    aria-label="Fechar">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal calendar -->

    <div class="portfolio-modal modal fade" id="ModalCalendar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="close-modal" type="button" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="modal-body">
                                <img class="img-fluid d-block mx-auto"
                                    src="https://images.pexels.com/photos/5386754/pexels-photo-5386754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed
                                    lorem sed tellus posuere tincidunt a ac lorem. Nam urna tellus, luctus vel suscipit
                                    sed,
                                    maximus id sapien. Nam vestibulum aliquam sapien a malesuada. Aliquam egestas magna
                                    quis
                                    ligula gravida varius. Nunc convallis sollicitudin egestas. Vivamus condimentum,
                                    nisi vitae
                                    porta vehicula, est ipsum eleifend felis, pharetra condimentum quam felis nec justo.
                                    Proin
                                    vitae ligula tincidunt nibh scelerisque fermentum. Praesent semper at
                                </p>
                                <button class="getstarted" type="button" class="getstarted" data-bs-dismiss="modal"
                                    aria-label="Fechar">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
